footer {
    position: fixed;
    bottom: 0;
    z-index: 999;
    width: 100%;
    height: 1.374rem;
    /* border-top: 0.01rem solid #9e9e9e; */
    background-color: #fff;
    box-shadow: 0 -.027rem /* 1/37.5 */ .053rem /* 2/37.5 */ 0 rgba(0,0,0,.04);
    /* background-color: pink; */
  }
footer .foot-wrapper .lnk{
    display: inline-block;
    color: #5f6670;
}
  footer .foot-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #b6b6b6;
  }
  footer .foot-wrapper div {
    /* display: inline-block; */
   font-size: 0.3rem;
   text-align: center;
   margin-top: -0.2rem;
 }
 
 footer .foot-wrapper .iconfont {
   font-size: 0.7rem;
 }
