html {
  /* background: #f5f7fa; */
  background: #fff;
  color: #333;
  /* font-size: 37.5px; */
}

body,
ul,
ol,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
form,
fieldset,
legend,
input,
textarea,
button,
p,
blockquote,
th,
td,
pre,
xmp {
  margin: 0;
  padding: 0;
}

body,
input,
textarea,
button,
select,
pre,
tt,
code,
kbd,
samp,
optgroup,
option {
  line-height: 1.5;
  font-family: arial, '\5B8B\4F53', '\5FAE\8F6F\96C5\9ED1', verdana, helvetica,
      sans-serif;
}

body {
  min-width: 320px;
  max-width: 540px;
  font-size: 16px;
  margin: 0 auto;
  padding-top: 44px;/* iphone规则 header 让位*/
  -webkit-font-smoothing: antialiased;
}

.hidden,
[hidden] {
  display: none !important;
}

::-webkit-input-placeholder {
  color: #eff3f7;
}

button {
  -webkit-appearance: none;
}
a {
    color: #000;
    text-decoration: none;
    font-size: 100%;
    vertical-align: baseline;
}
/* a:link {  text-decoration: none; }/* 未访问的链接 */

/* a:visited { text-decoration: none; } */

a:hover {  text-decoration: none; }


