.home{
    background-color: #f5f7fa;
    position: -1.173rem /* 44/37.5 */;
}
header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: .853rem /* 32/37.5 */;
    width: 100%;
    padding: .16rem /* 6/37.5 */ 0;
    background-color: #fff;
    box-shadow: 0 .027rem /* 1/37.5 */ .053rem /* 2/37.5 */ 0 rgba(0,0,0,.04);
    z-index: 88;
}
header .header-position {
    position: relative;
    display: inline-block;
    padding-left: .427rem /* 16/37.5 */;
    padding-right: .4rem /* 15/37.5 */;
    font-weight: 300;
    color: #303741;
    line-height: .853rem /* 32/37.5 */;
    border-right: none;
    vertical-align: baseline;
}

.header-help:before, .header-position:after, .header-input:before {
    background: url(../../assets/fontImg/home.png) no-repeat;
    background-size: 2rem /* 75/37.5 */ auto;
}
header .header-position:after {
    content: '';
    display: inline-block;
    width: .267rem /* 10/37.5 */;
    height: .267rem /* 10/37.5 */;
    margin-left: .16rem /* 6/37.5 */;
    background-position: 0 -.427rem /* 16/37.5 */;
}

header .header-input {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: .853rem /* 32/37.5 */;
    font-size: .373rem /* 14/37.5 */;
    color: #bec5cf;
    background-color: #eff2f6;
    text-align: center;
    line-height: .853rem /* 32/37.5 */;
    border-radius: .4rem /* 15/37.5 */;
}

header .header-input:before{
    content: '';
    display: inline-block;
    width: .4rem /* 15/37.5 */;
    height: .4rem /* 15/37.5 */;
    vertical-align: middle;
    margin: -.08rem /* 3/37.5 */ .107rem /* 4/37.5 */ 0 0;
}

header .header-help {
    display: inline-block;
    height: .853rem /* 32/37.5 */;
    width: .907rem /* 34/37.5 */;
}

header .header-help:before{
    content: '';
    display: block;
    width: .533rem /* 20/37.5 */;
    height: .533rem /* 20/37.5 */;
    margin-top: .16rem /* 6/37.5 */;
    margin-left: .187rem /* 7/37.5 */;
    background-position: -.64rem /* 24/37.5 */ -.693rem /* 26/37.5 */;
}

.swiper-container {
    width: 10.005rem /* 375.2/37.5 */;
    height: 4.533rem /* 170/37.5 */;
    --swiper-pagination-color:#22a038;
}
.swiper-container .swiper-wrapper .swiper-slide img{
    width: 100%;
    height: 100%;
}
.swiper-container .swiper-pagination-bullet {
    width: 5px;
    height: 5px;
}

.nav-page {
    width: 10.005rem /* 375.2/37.5 */;
    height: 5.413rem /* 203/37.5 */;
    overflow-x: hidden;
 }
.nav-page .swiper-nav-container {
    width: 10rem;
    height: 5.413rem /* 203/37.5 */;
    background-color: #fff;
    --swiper-pagination-color:#22a038;

}
.nav-page .swiper-nav-container .swiper-wrapper{
    width: 10rem /* 375/37.5 */;
    height: 4.907rem /* 184/37.5 */;
}
.nav-page .swiper-wrapper .swiper-slide  ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.nav-page .swiper-wrapper .swiper-slide  ul li {
    display: inline-block;
    width: 1.9rem /* 75/37.5 */;
    height: 2.133rem /* 80/37.5 */;
    text-align: center;
    font-weight: 300;
    line-height: .32rem /* 12/37.5 */;
}
.nav-page .swiper-wrapper .swiper-slide  ul li a{
    display: inline-block;
    width: 100%;
    height: .32rem /* 12/37.5 */;
    font-size: .32rem /* 12/37.5 */;
    padding-top: 1.813rem /* 68/37.5 */;
    background-repeat: no-repeat;
    background-position: center .427rem /* 16/37.5 */;
    background-size: 1.12rem /* 42/37.5 */ auto;
}

.nav-page .nav-swiper-pagination {
    text-align: center;
    font-size: .133rem /* 5/37.5 */;

}
.nav-page .nav-swiper-pagination .swiper-pagination-bullet {
    width: 5px;
    height: 5px;
}

.recommend-cars-box {
    background: #fff;
    overflow: hidden;
    padding: 0 .1rem .1rem;
}
.recommend-cars-box .recommend-cars {
    padding: .293rem /* 11/37.5 */ .267rem /* 10/37.5 */;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    background: #fff;
    border-radius: .107rem /* 4/37.5 */;
}

.recommend-cars-box .rcb-car-img {
    width: 1.6rem /* 60/37.5 */;
    height: 1.067rem /* 40/37.5 */;
    background: #000;
    border-radius: .053rem /* 2/37.5 */;
    margin-right: .267rem /* 10/37.5 */;
}
.recommend-cars-box .rcb-car-info {
    box-sizing: border-box;
    padding: 0;
    height: 1.067rem /* 40/37.5 */;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.rcb-car-info>div:first-child {
    font-family: PingFangSC-Regular;
    font-size: .32rem /* 12/37.5 */;
    color: #303741;
    line-height: .32rem /* 12/37.5 */;
}
.recommend-cars-box .rcb-car-info .rcb-lable{
    display: inline-block;
    margin-right: .107rem /* 4/37.5 */;
    padding: .133rem /* 5/37.5 */ .16rem /* 6/37.5 */;
    font-family: PingFangSC-Medium;
    font-size: .32rem /* 12/37.5 */;
    color: #ff7147;
    line-height: .32rem /* 12/37.5 */;
    background-color: rgba(225,113,71,.1);
    border-radius: .053rem /* 2/37.5 */;
    vertical-align: bottom;
    text-overflow: ellipsis;
    max-width: 2.56rem /* 96/37.5 */;
    white-space: nowrap;
    overflow: hidden;
}

.recommend-cars-box .rcb-right-tip {
    width: .173rem /* 6.5/37.5 */;
    height: .28rem /* 10.5/37.5 */;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: .267rem /* 10/37.5 */;
    background-image: url(https://cli-sta.guazistatic.com/c2c_wap/rcb-jumpjump@2x.04165cd090393be215588ad451ef62b8.png);
    background-size: 100% 100%;
}

.second-car{
    padding-bottom: .427rem /* 16/37.5 */;
}
.index-colum {
    background-color: #fff;
    border-top: .16rem /* 6/37.5 */ solid #f5f7fa;
}
.index-colum .colum-title {
    position: relative;
    height: 1.493rem /* 56/37.5 */;
    line-height: 1.493rem /* 56/37.5 */;
}

.colum-title h3{
    float: left;
    padding-left: .533rem /* 20/37.5 */;
    font-size: .4rem /* 15/37.5 */;
}

.colum-title a {
    float: right;
    padding-right: .533rem /* 20/37.5 */;
    font-size: .32rem /* 12/37.5 */;
    font-weight: 300;
    color: #8f96a0;
}

.colum-title a:after {
    content: '';
    display: inline-block;
    width: .133rem /* 5/37.5 */;
    height: .133rem /* 5/37.5 */;
    margin-top: -.053rem /* 2/37.5*/;
    margin-left: .053rem /* 2/37.5 */;
    vertical-align: middle;
    border-left: 1px solid #b3bbc6;
    border-top: 1px solid #b3bbc6;
    transform: rotate(135deg);
}

.index-colum .second-entry-list {
    width: 100%;
    display: flex;
    padding-top: .293rem /* 11/37.5 */;
    overflow: hidden;
    flex-wrap: wrap;
}
.index-colum .second-entry-list li {
    width: 25%;
    font-size: .373rem /* 14/37.5 */;
    font-weight: 300;
    line-height: .373rem /* 14/37.5 */;
    text-align: center;
}
.index-colum .second-entry-list a {
    display: block;
    max-width: 1.707rem /* 64/37.5 */;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0 auto;
    padding: .267rem /* 10/37.5 */ 0 .373rem /* 14/37.5 */;
}
.index-colum .second-entry-list.brand .icon {
    display: inline-block;
    width: .427rem /* 16/37.5 */;
    height: .427rem /* 16/37.5 */;
    vertical-align: middle;
    margin-top: -.053rem /* 2/37.5 */;
    margin-right: .16rem /* 6/37.5 */;
    background-size: .427rem /* 16/37.5 */ auto;
    overflow: hidden;
}
.icon-brand-more {
    position: relative;
    font-size: 0;
    text-align: center;
    background: #eff2f6;
    border-radius: 50%;
}
.icon-brand-more i {
    display: inline-block;
    width: .053rem /* 2/37.5 */;
    height: .053rem /* 2/37.5 */;
    margin: .187rem /* 7/37.5 */ .027rem /* 1/37.5 */ 0;
    background-color: #8f96a0;
    border-radius: 50%;
}

.operate-list {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    padding: 0 .267rem /* 10/37.5 */ 0 .32rem /* 12/37.5 */;
    margin-top: .027rem /* 1/37.5 */;
    margin-bottom: .53rem /* 2/37.5 */;
    overflow: hidden;
    font-size: 0;
}
.operate-list .operate-item {
    display: inline-block;
    margin-left: .053rem /* 2/37.5 */;
}

.operate-list .sc-operate-item-0, .operate-list .sc-operate-item-1 {
    position: relative;
    width: 4.64rem /* 174/37.5 */;
    height: 2.933rem /* 110/37.5 */;
    padding-top: .107rem /* 4/37.5 */;
    /* background-color: pink; */
}
.operate-list .sc-operate-item-2, .operate-list .sc-operate-item-3,.operate-list .sc-operate-item-4{
    position: relative;
    width: 3.067rem /* 115/37.5 */;
    height: 3.52rem /* 132/37.5 */;
    /* padding-top: -.053rem 2/37.5; */
    text-align: center;
}

.operate-list .operate-item .operate-item-text {
    position: absolute;
    left: .6rem /* 10/37.5 */;
}
.operate-list .operate-item .operate-item-text p{
    padding-top: .427rem /* 16/37.5 */;
    font-size: .4rem /* 15/37.5 */;
    line-height: .427rem /* 16/37.5 */;
}
.operate-list .operate-item .operate-item-text span{
    display: block;
    width: 2rem /* 72/37.5 */;
    color: #ff7147;
    white-space: nowrap;
    font-size: .32rem /* 12/37.5 */;
    /* overflow: hidden; */
}
.operate-list .operate-item .operate-item-pic{
    width: 100%;
    height: 2.907rem /* 109/37.5 */;
}

.operate-list .operate-item .operate-item-pic img{
    width: 100%;
}

.recommend-car-foryou{
    background-color: #fff;
    padding: 0 .133rem /* 5/37.5 */ 0 .533rem /* 20/37.5 */;
    border-top: .16rem /* 6/37.5 */ solid #f5f7fa;
}
.recommendercar-foryou__title {
    position: sticky;
    top: 1.067rem /* 40/37.5 */;
    display: inline-block;
    width: 100%;
    background: #fff;
    font-family: PingFangSC-Medium;
    font-size: .4rem /* 15/37.5 */;
    color: #303741;
    letter-spacing: 0;
    padding: .48rem /* 18/37.5 */ 0 .453rem /* 17/37.5 */;
    line-height: .56rem /* 21/37.5 */;
    z-index: 888;
}
.recommdercar-foryou_ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.recommendercar-foryou_li {
    width: 50%;
    flex: 1 0 auto;
}
.recommendercar-foryou_li .recommendcar-content{
    height: 2.507rem /* 94/37.5 */;
    padding: .267rem /* 10/37.5 */ .267rem /* 10/37.5 */ 0;
}
.recommdercar-foryou_ul .recommendercar-foryou_li a {
    margin: 0 .4rem /* 15/37.5 */ 0 0;
    display: block;
    position: relative;
    border: 1px solid #eff2f6;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.08);
    border-radius: .053rem /* 2/37.5 */;
    margin-bottom: .373rem /* 14/37.5 */;
}
.recommdercar-foryou_ul .recommendercar-foryou_li img{
    width: 100%;
    height: 100%;
}

.recommdercar-foryou_ul .recommendercar-foryou_li .icon-tag-text{
    position: absolute;
    bottom: 2.933rem /* 110/37.5 */;
    left: .053rem /* 2/37.5 */;
    display: inline-block;
    padding: 0 .213rem /* 8/37.5 */;
    font-family: PingFangSC-Regular;
    color: #fff;
    line-height: .64rem /* 24/37.5 */;
    font-size: .267rem /* 10/37.5 */;
    background-image: linear-gradient(90deg,transparent,rgba(0,0,0,.4));
}
.recommdercar-foryou_ul .recommendercar-foryou_li .recommendcar-content h3{
    font-family: PingFangSC-Medium;
    font-size: .373rem /* 14/37.5 */;
    color: #303741;
    line-height: .373rem /* 14/37.5 */;
    margin-bottom: .16rem /* 6/37.5 */;
    font-weight: 400;
}
.recommendcar-content .carname, .recommendcar-content .carprice {
    font-size: .373rem /* 14/37.5 */;
    letter-spacing: 0;
    text-overflow: ellipsis;
    overflow: hidden;
}

.recommendcar-content .carname {
    font-family: PingFangSC-Regular;
    color: #303741;
    line-height: .453rem /* 17/37.5 */;
    margin-bottom: .16rem /* 6/37.5 */;
    -webkit-line-clamp: 2;
    height: .853rem /* 32/37.5 */;
}
.recommendcar-content .carprice{
    font-family: PingFangSC-Medium;
    color: #ff7147;
    line-height: .693rem /* 26/37.5 */;
    white-space: nowrap;
}
.recommendcar-content .find-same-car{
    display: inline-block;
    position: absolute;
    font-family: PingFangSC-Medium;
    right: .267rem /* 10/37.5 */;
    bottom: .267rem /* 10/37.5 */;
    line-height: .693rem /* 26/37.5 */;
    font-size: .32rem /* 12/37.5 */;
    color: #22ac38;
    background: rgba(34,172,56,.1);
    padding: 0 .253rem /* 9.5/37.5 */;
}

.recommendcar-content .today-recommend_main {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 1.467rem /* 55/37.5 */;
    height: .533rem /* 20/37.5 */;
    line-height: .533rem /* 20/37.5 */;
    background-color: #ff7147;
    font-family: PingFangSC-Medium;
    border-radius: .053rem /* 2/37.5 */ 0 .107rem /* 4/37.5 */ 0;
    text-align: center;
    color: #fff;
}

.recommendcar-content .icon-tag-org_square {
    background-image: url(https://cli-sta.guazistatic.com/c2c_wap/iconbg_small@2x.eb9dd4ae48f61c5dd90a89621fb37c19.png);
    background-size: 100%;
    padding-top: .213rem /* 8/37.5 */;
    padding-right: .053rem /* 2/37.5 */;
    width: 2.027rem /* 76/37.5 */;
    height: 1.52rem /* 57/37.5 */;
    top: -.48rem /* 18/37.5 */;
    left: -.533rem /* 20/37.5 */;
    z-index: 4;
    transform: scale(.5);
    position: absolute;
    text-align: center;
    color: #fff;
    font-family: PingFangSC-Medium;
    font-size: .48rem /* 18/37.5 */;
    letter-spacing: 0;
    line-height: .587rem /* 22/37.5 */;
}

.recommendercar-foryou-nomore {
    display: block;
    font-family: PingFangSC-Light;
    font-size: .32rem /* 12/37.5 */;
    color: #8f96a0;
    letter-spacing: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 1.6rem /* 60/37.5 */;
}