
.sell-page{
    font: .373rem /* 14/37.5 *//1.5 PingFangSC-Regular,helvetica neue,tahoma,arial,hiragino sans gb,microsoft yahei,sans-serif;
    position: relative;
    top: -44px;
    box-sizing: border-box;
    background-color: #f5f7fa;
}
.sell-page .sell-head {
    width: 100%;
    height: 1.173rem /* 44/37.5 */;
    background-color: #fff;
    font-size: .427rem /* 16/37.5 */;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: 999;
}
.sell-page .sell-head h1 {
    line-height: 1.173rem /* 44/37.5 */;
    font-family: sans-serif;
    font-size: .427rem /* 16/37.5 */;
    color: #303741;
}
.sell-page .sell-head .sell-head-icon {
    height: .587rem /* 22/37.5 */;
    width: .587rem /* 22/37.5 */;
    position: absolute;
    right: .587rem /* 22/37.5 */;
    top: .293rem /* 11/37.5 */;
}
.sell-page .sell-head .sell-head-icon img{
    height: 100%;
    width: 100%;
}
.sell-main {
    width: 100%;
}
.sell-main .sell-banner {
    background-image: url("https://image1.guazistatic.com/qn200401191517b4aaa80a9da54b79e95d2c3ca747f462.jpg?imageView2/2");
    width: 100%;
    height: 6.933rem /* 260/37.5 */;
    background-size: cover;
}

.sell-main .sell-content{
    position: absolute;
    top: 4.533rem /* 170/37.5 */;
    left: 0;
    right: 0;
    width: 100%;
    overflow: hidden;
}

/* 选车卖出模块 */
.sell-content .sell-car-box{
    margin: 0 .533rem /* 20/37.5 */;
    background-color: #fff;
    border-radius: .107rem /* 4/37.5 */ .107rem /* 4/37.5 */ 0 0;
    position: relative;
    overflow: hidden;
}
.sell-content .sell-car-box .sell-box_brand-img{
    position: absolute;
    top: -.533rem /* 20/37.5 */;
    right: -.533rem /* 20/37.5 */;
    width: 2.667rem /* 100/37.5 */;
    height: 2.667rem /* 100/37.5 */;
    opacity: .1;
}

.sell-content .sell-car-box .cell-box_title{
    height: 1.6rem /* 60/37.5 */;
    background: url(https://sta.guazistatic.com/c2c-prerender/img/042aa44.png);
    background-size: cover;
    font: .373rem /* 14/37.5 *//1.5 PingFangSC-Regular,helvetica neue,tahoma,arial,hiragino sans gb,microsoft yahei,sans-serif;
    font-size: .48rem /* 18/37.5 */;
    line-height: 1.493rem /* 56/37.5 */;
    font-weight: 700;
    text-align: center;
    color: #976114;
}

.sell-car-box .active-show .sell-box_value{
    position: relative;
    font-size: .4rem /* 15/37.5 */;
    color: #303741;
    line-height: .533rem /* 20/37.5 */;
    text-align: start;
}
.sell-car-box .active-show .sell-box_header{
    padding-left: .427rem /* 16/37.5 */;
    margin: .32rem /* 12/37.5 */ 0;
}
.active-show .sell-box_header::after{
    content: "";
    display: inline-block;
    position: absolute;
    right: .427rem /* 16/37.5 */;
    top: .08rem /* 3/37.5 */;
    width: .16rem /* 6/37.5 */;
    height: .16rem /* 6/37.5 */;
    border-top: .053rem /* 2/37.5 */ solid #cdd3da;
    border-left: .053rem /* 2/37.5 */ solid #cdd3da;
    transform: rotate(135deg);
    font-weight: 300;
}

.active-show .sell-box_brand{
    display: flex;
    flex-wrap: wrap;
    padding: 0 .427rem /* 16/37.5 */;
    margin-bottom: .373rem /* 14/37.5 */;
    height: 3.413rem /* 128/37.5 */;
}

.sell-box_brand .sell-box_brand-item{
    width: 20%;
    margin-bottom: .293rem /* 11/37.5 */;
}
.sell-box_brand .sell-box_brand-item img{
    width: .853rem /* 32/37.5 */;
    height: .853rem /* 32/37.5 */;
    margin: 0 auto;
}
.sell-box_other {
    position: relative;
    display: flex;
    padding-left: .427rem /* 16/37.5 */;
    margin-bottom: .32rem /* 12/37.5 */;
    text-align: start;
}
.sell-box_otherwrap{
    flex: 1;
}
.sell-box_lable{
    font-size: .32rem /* 12/37.5 */;
    color: #8f96a0;
    line-height: .48rem /* 18/37.5 */;
    margin-bottom: .107rem /* 4/37.5 */;
}
.sell-box_other .sell-box_value{
    position: relative;
    width: 100%;
    font-size: .4rem /* 15/37.5 */;
    color: #303741;
    line-height: .533rem /* 20/37.5 */;
}
.sell-box_other .sell-box_value::after{
        content: "";
        display: inline-block;
        position: absolute;
        right: .427rem /* 16/37.5 */;
        top: .08rem /* 3/37.5 */;
        width: .16rem /* 6/37.5 */;
        height: .16rem /* 6/37.5 */;
        border-top: .053rem /* 2/37.5 */ solid #cdd3da;
        border-left: .053rem /* 2/37.5 */ solid #cdd3da;
        transform: rotate(135deg);
        font-weight: 300;
}

.sell-box_data, .sell-box_mile{
    flex: 1;
}
.sell-box_btns{
    display: flex;
    padding: .32rem /* 12/37.5 */ .427rem /* 16/37.5 */;
    font-size: .373rem /* 14/37.5 */;
    color: #fff;
}
.sell-box_btns .sell-box_direct{
    width: 67%;
    height: .96rem /* 36/37.5 */;
    border-radius: .053rem /* 2/37.5 */;
    line-height: .96rem /* 36/37.5 */;
    background-color: #22ac38;
}
.sell-box_btns .sell-box_evaluate{
    height: .96rem /* 36/37.5 */;
    width: 2.667rem /* 100/37.5 */;
    border-radius: .053rem /* 2/37.5 */;
    line-height: .96rem /* 36/37.5 */;
    margin-left: .267rem /* 10/37.5 */;
    color: #5f6670;
    text-align: center;
    border: .053rem /* 2/37.5 */ solid #f7f7f9;
    
}

/* 瓜子报价优势 块 */
.sell-car-qotation {
    margin-top: .64rem /* 24/37.5 */;
    padding: .533rem /* 20/37.5 */;
}
.sell-car-qotation .sell-qotation_title{
    font-size: .48rem /* 18/37.5 */;
    font-weight: 700;
    color: #303741;
    line-height: .64rem /* 24/37.5 */;
    margin-bottom: .32rem /* 12/37.5 */;
    text-align: start;
}
.sell-market{
    display: flex;
    height: 1.973rem /* 74/37.5 */;
    border-radius: .107rem /* 4/37.5 */;
    margin-bottom: .32rem /* 12/37.5 */;
    padding-right: .187rem /* 7/37.5 */;
    background-color: #fff;
}
.sell-market .sell-market_item{
    display: flex;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 0 .267rem /* 10/37.5 */;
}
.sell-market .sell-market_item-flag{
    position: relative;
    width: 3.2rem /* 120/37.5 */;
    margin-right: .213rem /* 8/37.5 */;
}
.sell-market .sell-market_item-flag::after{
    content: "";
    width: .027rem /* 1/37.5 */;
    height: 1.067rem /* 40/37.5 */;
    margin: .453rem /* 17/37.5 */ 0;
    background-color: #eff2f6;
    transform: scaleX(.5);
    position: absolute;
    right: 0;
    top: 0;
}
.sell-market_logo{
    width: .693rem /* 26/37.5 */;
    height: .693rem /* 26/37.5 */;
    margin-top: .08rem /* 3/37.5 */;
}
.sell-market_lable{
    font-size: .32rem /* 12/37.5 */;
    color: #8f96a0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 2.667rem /* 100/37.5 */;
}
.sell-market_data{
    font-size: .533rem /* 20/37.5 */;
    color: #303741;
    font-weight: 700;
    font-family: DIN-Bold;
    text-align: initial;
}
.sell-market_data .sell-market_unit{
    margin-left: -0.01rem ;
    color: #303741;
    font-size: .32rem /* 12/37.5 */;
    font-weight: 400;
}
.sell-trade_item {
    background-color: #fff;
    border-radius: .107rem /* 4/37.5 */;
    padding: 0 .427rem /* 16/37.5 */ .427rem /* 16/37.5 */;
    margin-bottom: .32rem /* 12/37.5 */;
    text-align: initial;
}
.sell-trade_head {
    font-size: .32rem /* 12/37.5 */;
    color: #5f6670;
    line-height: .4rem /* 15/37.5 */;
    padding: .427rem /* 16/37.5 */ 0 .32rem /* 12/37.5 */;
    overflow: hidden;
}
.sell-trade_buyer {
    float: left;
    padding-right: .16rem /* 6/37.5 */;
}
.sell-trade_city{
    color: #8f96a0;
    float: left;
    padding-left: .16rem /* 6/37.5 */;
    border-left: .027rem /* 1/37.5 */ solid #eff2f6;
}
.sell-trade_time{
    color: #8f96a0;
    float: right;
}
.sell-trade_main{
    position: relative;
}
.sell-trade_main img{
    width: 3.2rem /* 120/37.5 */;
    height: 2.133rem /* 80/37.5 */;
    border-radius: .107rem /* 4/37.5 */;
    position: absolute;
}
.sell-trade_main .sell-trade_content{
    padding-left: 3.467rem /* 130/37.5 */;
}
.sell-trade_title{
    font-size: .4rem /* 15/37.5 */;
    color: #303741;
    line-height: .533rem /* 20/37.5 */;
    display: flex;
    flex-direction: column;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: .107rem /* 4/37.5 */;
}
.trade_price{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    justify-content: space-around;
    font-size: .32rem /* 12/37.5 */;
    line-height: .4rem /* 15/37.5 */;
}
.sell-trade_price-guazi{
    width: 1.867rem /* 70/37.5 */;
    background-color: #fff;
    border: 1px solid #ffdcd1;
    border-radius: .053rem /* 2/37.5 */;
    line-height: 1;
    text-align: center;
    color: #ff7147;
}
.sell-trade_price-guazi h2 {
    padding: .053rem /* 2/37.5 */ 0;
    background-color: rgba(255,113,71,.1);
    border-bottom: .027rem /* 1/37.5 */ solid #ffdcd1;
    font-size: .267rem /* 10/37.5 */;
    font-weight: 400;
}
.sell-trade_price-guazi p{
    padding: .053rem /* 2/37.5 */ 0;
    font-size: .4rem /* 15/37.5 */;
    font-weight: 700;
}
.sell-trade_price-vs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}
.sell-trade_price-vs img{
    width: .533rem /* 20/37.5 */;
    height: .533rem /* 20/37.5 */;
}
.sell-trade_price-shichang{
    width: 1.867rem /* 70/37.5 */;
    background-color: #fff;
    border: .027rem /* 1/37.5 */ solid #d8dde6;
    border-radius: .053rem /* 2/37.5 */;
    line-height: 1;
    text-align: center;
}
.sell-trade_price-shichang h2{
    padding: .053rem /* 2/37.5 */ 0;
    background-color: #f5f7fa;
    border-bottom: .027rem /* 1/37.5 */ solid #d8dde6;
    font-size: .267rem /* 10/37.5 */;
    color: #8f96a0;
}
.sell-trade_price-shichang p{
    padding: .053rem /* 2/37.5 */ 0;
    font-size: .4rem /* 15/37.5 */;
    color: #5f6670;
    font-weight: 700;
}
/* 图表 */
.sell-chart {
    background-color: #fff;
    border-radius: .107rem /* 4/37.5 */;
    min-height: 3.76rem /* 141/37.5 */;
}
.sell-chart_head{
    padding: 0 .427rem /* 16/37.5 */;
    display: flex;
    font-size: .4rem /* 15/37.5 */;
    color: #303741;
    line-height: 1.413rem /* 53/37.5 */;
}
.sell-chart_title{
    width: 3.333rem /* 125/37.5 */;
}
.sell-chart_main{
    padding: 0 .427rem /* 16/37.5 */;
}
.sell-lineChart{
    position: relative;
}
.sell-chart_bottom{
    padding: .213rem /* 8/37.5 */ .427rem /* 16/37.5 */;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 0 .107rem /* 4/37.5 */ .107rem /* 4/37.5 */;
    box-shadow: inset 0 1px 0 0 #eff2f6;
    background-color: #fff;
    text-align: start;
}
.sell-chart_summary{
    flex:1 1;
    font-size: .32rem /* 12/37.5 */;
    color: #8f96a0;
}
.sell-chart_subscribe{
    padding: .16rem /* 6/37.5 */ .32rem /* 12/37.5 */;
    background-color: #fff;
    border: .027rem /* 1/37.5 */ solid #d8dde6;
    border-radius: .053rem /* 2/37.5 */;
    font-size: .293rem /* 11/37.5 */;
    color: #5f6670;
    line-height: 1;
}

.sell-car-guide{
    padding: .64rem /* 24/37.5 */ .533rem /* 20/37.5 */ 0;
}
.sell-guide_title{
    font-size: .48rem /* 18/37.5 */;
    font-weight: 700;
    color:#303741;
    line-height: .64rem /* 24/37.5 */;
    margin-bottom: .32rem /* 12/37.5 */;
}
.sell-guide_card{
    padding-top: .107rem /* 4/37.5 */;
    background-color: #fff;
    border-radius: .107rem /* 4/37.5 */;
}
.sell-tab {
    display: flex;
    align-items: center;
    padding: .267rem /* 10/37.5 */ .48rem /* 18/37.5 */ .347rem /* 13/37.5 */;
    justify-content: space-around;
    background-color: #fff;
}
.sell-tab_item {
    flex-flow: column nowrap;
    padding: .267rem /* 10/37.5 */ 0;
    position: relative;
    font-size: .32rem /* 12/37.5 */;
    color: #5f6670;
    display: flex;
    align-items: center;
}
.sell-tab_item--active{
    color: #22ac38
}
.sell-tab_item .iconfont{
    width: .533rem /* 20/37.5 */;
    height: .533rem /* 20/37.5 */;
    font-size: .533rem /* 20/37.5 */;
    margin-bottom: .107rem /* 4/37.5 */;
}
